<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link href="/assets/css/site.css" rel='stylesheet'>

    <title>{{ page.title }} - Solaris VII Games</title>
    {% seo %}
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="/">{{ site.title }}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class='nav-item'>
              <a class='nav-link' href='/rules.html'>Rules</a>
            </li>
<!---            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Dropdown
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
          </ul>
        -->
        </div>
      </div>
    </nav>
    <main class='container rounded pb-3'>
      <div class='container'>
        <div class='row'>
          <div class='col'>
            <h1>{{ page.title }}</h1>
          </div>
        </div>
      </div>
      <div class='container'>
        {{ content | toc }}
      </div>
    </main>

    <footer>
      <div class="container footer rounded">
        <div class="row">
          <div class="col">
            &copy; 2021 MegaMek
          </div>
        </div>
        <div class="row">
          <div class="col">
            MechWarrior, BattleMech, `Mech and Aerotech are registered trademarks of
            <a href="http://www.topps.com/" class="footer-link">The Topps Company, Inc.</a>
            All Rights Reserved.
            <a href="http://www.catalystgamelabs.com/" class="footer-link">Catalyst Game Labs</a>
            and the <a href="http://www.catalystgamelabs.com/" class="footer-link">Catalyst Game Labs</a>
            logo are trademarks of <a href="http://www.imrpro.com" class="footer-link">InMediaRes Productions, LLC.</a>
          </div>
        </div>
      </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
  </body>
</html>
